h1,h2,h3,h4,h5,h6,p,header,a,footer {
    margin: 0; padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 10px;
}

.navbar-nav {
    padding: 30px 0 0 0;
}

.cust-nav {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 0.85em;
}

/* Carousel */
.cust-margin {
    padding-top: 50px;
}

/* Formating */
/* h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
} */

h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 15px 0;
}

p {
    padding: 0 0 20px 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.image {
    position: relative;
    overflow: hidden;
}

.image-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 20px 0 0;
}

.image-icon2 {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px 0 0;
}

a:hover {
    color: #f2c94c;
}

.divide {
    border-bottom: 1px solid #d4d4d4;
}

img {
    margin: 0 0 30px 0;
}

/* Lists */

footer {
    color: #ffffff;
    font-size: 0.95em;;
    background-color: #006848;
    margin: 30px 0 0 0;
    padding: 40px 0 20px 0;
    position: relative;
}

/* Margins */
.cust-margin {
    margin: 20px 0 20px 0;
}

.chapters {
    padding: 30px 0 20px 0;
}

main {
    padding: 20px;
    background-color: #f2c94c;
    height: 170px;
    margin: 0 0 20px 0;
}

aside {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #eeeeee;
}


/* Colors */
#f2iwhite {color: #ffffff;}
#f2igreen {color: #006848;}
#f2ilimegreen {color: #008557;}
#f2ired {color: #ee3124;}
#f2iyellow {color: #f2c94c;}
#f2igrey1 {color: #949494;}

/* Background colors */
#f2igreenbg {background-color: #006848;}
#f2ilimegreenbg {background-color: #008557;}
#f2iredbg {background-color: #ee3124;}
#f2iyellowbg {background-color: #f2c94c;}
#f2igreybg {background-color: #eeeeee;}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 390px) {
    .my-logo {
        width: 70%;
        padding: 0;
        margin: 0;
    }

    .carousel-cap {
        position:absolute;
        right:0%;
        bottom:1.25rem;
        left:0%;
        padding-top:1.25rem;
        padding-bottom:1.25rem;
        color:#fff;text-align:center
    }

    .f2i-intro {
        font-size: 1.3em;
        color: #939393;
        font-weight: 300;
        line-height: 30px;
        padding: 0 0 30px 0;
    }

    .carousel-inner {
        padding: 0;
        margin: 0;
    }

    .cust-carousel {
        text-align: left;
        color: #ffffff;
        padding: 0 20px 0 20px;
    }

    h1 {
        font-size: 0.25em;
        text-align: left;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    .open {
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .my-logo {
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .carousel-cap {
        position:absolute;
        right:10%;
        bottom:1.25rem;
        left:10%;
        padding-top:1.25rem;
        padding-bottom:6rem;
        color:#fff;text-align:center
    }

    .image-alter {
        padding: 100px 0 0 0;
    }

    .f2i-intro {
        font-size: 1.8em;
        color: #939393;
        font-weight: 300;
        line-height: 40px;
        padding: 0 0 30px 0;
    }

    .carousel-inner {
        padding: 0;
        margin: 0;
    }

    .cust-carousel {
        text-align: left;
        color: #ffffff;
        padding: 0 20px 0 20px;
    }

    h1 {
        font-size: 3em;
        text-align: left;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    .open {
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my-logo {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .carousel-cap {
        position:absolute;
        right:15%;
        bottom:1.25rem;
        left:15%;
        padding-top:1.25rem;
        padding-bottom:1.25rem;
        color:#fff;text-align:center
    }

    .image-alter {
        width: 100%;
    }

    .f2i-intro {
        font-size: 1.8em;
        color: #939393;
        font-weight: 300;
        line-height: 40px;
        padding: 0 0 30px 0;
    }

    .carousel-inner {
        padding: 0;
        margin: 0;
    }

    .cust-carousel {
        text-align: left;
        color: #ffffff;
        padding: 0 20px 0 20px;
        margin-left: 0px;
        padding-left: 0px;
    }

    h1 {
        font-size: 2em;
        text-align: left;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    .open {
        font-size: 0.85em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .my-logo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .carousel-cap {
        position:absolute;
        right:15%;
        bottom:1.25rem;
        left:15%;
        padding-top:1.25rem;
        padding-bottom:1.25rem;
        color:#fff;text-align:center
    }

    .image-alter {
        width: 100%;
    }

    .f2i-intro {
        font-size: 1.8em;
        color: #939393;
        font-weight: 300;
        line-height: 40px;
        padding: 0 0 30px 0;
    }

    .carousel-inner {
        padding: 0;
        margin: 0;
    }

    .cust-carousel {
        text-align: left;
        color: #ffffff;
        padding: 0 20px 0 20px;
    }

    h1 {
        font-size: 4em;
        text-align: left;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    .open {
        font-size: 1em;
    }
}